.level1 td {padding-left: 0px;font:menu}
.level2 td:first-child {padding-left: 15px;font:menu}
.level3 td:first-child {padding-left: 30px;font:menu}
.level4 td:first-child {padding-left: 45px;font:menu}
.level5 td:first-child {padding-left: 60px;font:menu}
.level6 td:first-child {padding-left: 75px;font:menu}
.level7 td:first-child {padding-left: 90px;font:menu}
.collapse .toggle {
    background: url("../images/collapse.gif");
}
.expand .toggle {
    background: url("../images/expand.gif");
}
.toggle {
    height: 9px; 
    width: 9px;
    display: inline-block;   
}
